---
layout: default
---
{{ content }}

{% assign portfolios = site.portfolios %}

<div class="journals portfolio">
    <h2 class="content-subhead">Portfolio</h2>

    {%- if portfolios.size > 0 -%}
    <section class="">
    {%- for job in portfolios -%}
    <article class="journal">
        <h2 class="post-title">
            <a href="{{ job.url | relative_url }}">
                {{ job.title | escape }}
            </a>
        </h2>

        <div class="post-description">
            {{ job.content | markdownify | split: '</p>' | first | append: '</p>' }}
            <p>
                <a class="pure-button pure-button-primary" href="{{ job.url | relative_url }}">
                    Veja mais
                </a>
            </p>
        </div>
    </article>
    <hr>
    {%- endfor -%}
    </section>
</div>

<br />

{%- endif -%}